{{- if .Values.batch.enabled }}
{{- range .Values.batch.jobs }}
{{- $jobName := .name }}
{{- $volumes := include "photoprism.volumes" $ }}
{{- $volumeMounts := include "photoprism.volumeMounts" $ }}
{{- $suspend := default false .suspend }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "photoprism.fullname" $ }}-{{ $jobName }}
  labels:
    {{ include "photoprism.labels" $ | nindent 4 }}
spec:
  schedule: {{ .cron | quote }}
  suspend: {{ $suspend }}
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      backoffLimit: 5
      parallelism: 1
      completions: 1
      template:
        spec:
          {{ with $.Values.batch.nodeSelector }}
          nodeSelector:
            {{ toYaml . | nindent 12 }}
          {{ end }}
          {{ with $.Values.batch.affinity }}
          affinity:
            {{ toYaml . | nindent 12 }}
          {{ end }}
          {{ with $.Values.batch.tolerations }}
          tolerations:
            {{ toYaml . | nindent 12 }}
          {{ end }}
          restartPolicy: OnFailure
          containers:
          - name: photoprism
            image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag | default $.Chart.AppVersion }}"
            imagePullPolicy: {{ $.Values.image.pullPolicy }}
            {{- if .command }}
            command:
            {{- range .command }}
              - {{ . | quote }}
            {{- end }}
            {{- end }}
            {{- if .args }}
            args:
            {{- range .args }}
              - {{ . | quote }}
            {{- end }}
            {{- end }}
            {{ include "photoprism.envFrom" $ | nindent 12 }}
            {{ include "photoprism.env" $ | nindent 12 }}
            {{ include "photoprism.securityContext" $ | nindent 12 }}
            {{ with $.Values.batch.resources }}
            resources:
              {{ toYaml . | nindent 14 }}
            {{ end }}
            {{ if $volumeMounts }}
            volumeMounts:
              {{ $volumeMounts | nindent 14 }}
            {{ end }}
          {{ with $volumes }}
          volumes:
            {{ $volumes | nindent 12 }}
          {{ end }}
---
{{- end }}
{{- end }}