apiVersion: v1
kind: Secret
metadata:
  name: bankroach
stringData:
  DB_URL: "postgres://roach:@localhost:26257/bankroach?sslmode=disable"
  MIGRATIONS_URL: github://mmontes11:<token>0@mmontes11/bankroach/migrations
