nameOverride: ""
fullnameOverride: ""

image:
  repository: photoprism/photoprism
  tag: ""
  pullPolicy: IfNotPresent

env:
  PHOTOPRISM_AUTH: true
  PHOTOPRISM_HTTP_COMPRESSION: "gzip"
  PHOTOPRISM_LOG_LEVEL: info
  PHOTOPRISM_READONLY: true
  PHOTOPRISM_SITE_AUTHOR: "You"
  PHOTOPRISM_SITE_CAPTION: "Your media center"
  PHOTOPRISM_SITE_DESCRIPTION: "Your media center"

secretRef:
  name: photoprism

persistence:
  enabled: true

  nas: &nas my.nas.hostname
  originalsPath: &originalsPath /photoprism/originals
  importPath: &importPath /photoprism/import
  storagePath: &storagePath /photoprism/storage

  volumes:
    - name: originals
      nfs:
        server: *nas
        path: /photoprism/originals
        readOnly: true
    - name: import
      nfs:
        server: *nas
        path: /photoprism/import
    - name: storage
      nfs:
        server: *nas
        path: /photoprism/storage

  volumeMounts:
    - name: originals
      mountPath: *originalsPath
      readOnly: true
    - name: import
      mountPath: *importPath
    - name: storage
      mountPath: *storagePath

database:
  driver: mysql
  dsnSecretKeyRef:
    name: photoprism-dsn
    key: dsn

batch:
  enabled: false
  jobs:
    - name: vision-labels
      cron: "*/5 * * * *"
      suspend: false
      command:
        - photoprism
      args:
        - vision
        - run
        - -m
        - labels
        - --count
        - 1
        - --force
    - name: vision-caption
      cron: "*/5 * * * *"
      suspend: false
      command:
        - photoprism
      args:
        - vision
        - run
        - -m
        - caption
        - --count
        - 1
        - --force
  resources: {}
  nodeSelector: {}
  affinity: {}
  tolerations: []

vision:
  enabled: false
  mountPath: /photoprism/storage/config/vision.yml
  subPath: vision.yml
  config: |
    Models:
    - Type: labels
      Model: gemma3:latest
      Engine: ollama
      Run: auto
      Service:
        Uri: http://ollama:11434/api/generate
    - Type: caption
      Model: gemma3:latest
      Engine: ollama
      Run: auto
      Service:
        Uri: http://ollama:11434/api/generate

videoTranscoding:
  enabled: false
  device: "/dev/video11"

service:
  type: ClusterIP
  port: 80
  annotations: {}

ingressRoute:
  enabled: false
  host: photoprism.org
  entryPoints:
    - websecure

httpRoute:
  enabled: false
  host: photoprism.org
  gatewayRef:
    name: traefik
    namespace: networking

livenessProbe:
  initialDelaySeconds: 20
  periodSeconds: 30
  successThreshold: 1
  failureThreshold: 5
  timeoutSeconds: 5

readinessProbe:
  initialDelaySeconds: 20
  periodSeconds: 30
  successThreshold: 1
  failureThreshold: 5
  timeoutSeconds: 5

resources: {}

nodeSelector: {}

affinity: {}

tolerations: []

priorityClassName: ""

podDisruptionBudget:
  enabled: false
  minAvailable: 1
