apiVersion: v1
kind: Secret
metadata:
  name: xiaowen-media
  namespace: media
stringData:
  ADMIN_PASSWORD: password
  # mysql
  MYSQL_ROOT_PASSWORD: photoprism
  MYSQL_DATABASE: photoprism
  MYSQL_USER: photoprism
  MYSQL_PASSWORD: photoprism
  # sqlite
  DATABASE_DSN: sqlite:/opt/database/photoprism.sqlite